<!-- wp:template-part {"slug":"header","theme":"petgrub-lite","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"petgrub/hero-banner-2"} /-->
    <!-- wp:pattern {"slug":"petgrub/fact-section"} /-->
    <!-- wp:pattern {"slug":"petgrub/what-we-provide"} /-->
    <!-- wp:pattern {"slug":"petgrub/instagram-post"} /-->
</main>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"petgrub-lite","area":"footer"} /-->